<html>

<head></head>

<body>

    <div class="container">
        <div id="carouselBanner" class="carousel slide mb-2" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="~/img/banner1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="~/img/banner2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="~/img/banner1.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row backgroundServices">
            <div class="col-lg-1"></div>
            <div class="col-lg-3"><img src="~/img/trade.png">Trocas e devoluções</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3"><img src="~/img/delivery.png">Calcule seu frete</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3"><img src="~/img/cartao.png">Consulte sua fatura</div>
        </div>

    </div>

    <div class="container">

        <div class="row mt-3">
            <div class="col-lg-12 text-center"><h3>Destaques</h3></div>
        </div>

        <div class="row">
            
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/blusa.png" class="card-img-top" alt="moda verão">
                    <div class="card-body">
                        <p class="card-text">Blusa Feminina - Moda Outono - Blash</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/camisaAzul.png" class="card-img-top" alt="moda verão">
                    <div class="card-body">
                        <p class="card-text">Camisa Masculina - Dark Ocean - Stash</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/camisaMarron.png" class="card-img-top" alt="moda verão">
                    <div class="card-body">
                        <p class="card-text">Camisa Masculina - Simple Brown - Stash</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4"><h4>R$ 59,90</h4><br> Em até 12x s/ Juros</div>
            <div class="col-lg-4"><h4>R$ 59,90</h4><br> Em até 24x do Cartão Zippersale</div>
            <div class="col-lg-4"><h4>R$ 59,90</h4><br> Em até 12x do Cartão</div>
        </div>

    </div>

    <div class="container">

        <div class="row mt-3">
            <div class="col-lg-12 text-center"><h3>Calçados e Acessórios</h3></div>
        </div>

    </div>
    
</body>

</html>