html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.submenutop {
  background-color: white;
  color:black;
}

.submenutop a {
  text-decoration: none;
  color:black;
}

.backgroundServices {
  height: 80px;
  background-color: #d3d9e3;
}

.carouseldimesion {
  height: 10%;
  width: 20%;
}

footerHgt {
  height: 120px;
}